//- Все примеси в этом файле должны начинаться c имени блока (reviews-list)

mixin reviews-list()
  - const reviewsList = [{repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}, {repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}, {repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}, {repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}, {repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}, {repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}, {repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}, {repostNum: 3, assessment: 4, date: "07.03.2022", title: "Excellent MOBA", text: "One of the best MOBA that came out in the Blockchain, very enjoyable and challenging game. It's a free to play game but if you do not invest it will be hard to grind so you can earn here, Unless your a very good player. This has great potential if they add more features etc.", ratingsList: [{title: "Fun to play", rate: 3}, {title: "Earnings", rate: 5}, {title: "Affordability", rate: 5}, {title: "Easy to Learn", rate: 2}]}];

  .reviews-list.gl-block#reviews-list-host
    .reviews-list__header
      h2.gl-title Reviews
      button.gl-btn-secondary Write a Review

    ul.reviews-list__list
      .swiper.reviews-list__swiper-container.gl-swiper.swiper-container#js-swiper-container
        .gl-swiper__swiper-wrapper.swiper-wrapper
          each item in reviewsList
            li.reviews-list__item-wrapper.swiper-slide
              .reviews-list__item-repost= item.repostNum
              .reviews-list__item-content
                .reviews-list__item-header
                  +rating(item.assessment)
                  .reviews-list__item-date= item.date

                .reviews-list__item-title= item.title
                .reviews-list__item-text= item.text
                .reviews-list__ratings-list-container.js-ratings-container
                  .reviews-list__ratings-list-wrapper.js-ratings-wrapper
                    each rating in item.ratingsList
                      .reviews-list__rating-item
                        .reviews-list__rating-title= rating.title
                        +rating(rating.rate)

                button(type="button").reviews-list__btn-more-less.js-btn-more
                  .reviews-list__btn-text-more View More
                  .reviews-list__btn-text-less View Less

        .reviews-list__swiper-pagination.gl-swiper__pagination.swiper-pagination#js-pagination-slider
