//- Все примеси в этом файле должны начинаться c имени блока (details)

mixin details()
  - const code = "0x24805237d8e9269ba8a5237d8e9269ba8a";
  - const list = [{caption: "Price", value: {value: "$0.007819", percent: 10.62, isGrowth: false}}, {caption: "Volume 24h", value: {value: "$29,481", percent: 5.95, isGrowth: true}}, {caption: "Max Supply", value: {value: "20,000,000"}}, {caption: "Total Supply", value: {value: "20,000,000"}}];

  .details.gl-block#details-host
    .details__title.gl-title Thetan Coin
    .details__code-wrapper
      .details__code-caption BNB Smart Chain (BEP-20):
      button(type="button", value=code).details__copy-btn#copy-btn
        .details__copy-btn-text=code

    ul.details__list
      each item in list
        li(class= item.value.percent && "details__item--with-percent").details__item
          .details__item-caption= item.caption
          .details__item-value-wrapper
            if item.value.percent
              div(class= item.value.isGrowth && "details__item-value-percent--growth").details__item-value-percent= `${item.value.percent}%`
            .details__item-value= item.value.value

    .details__converter-wrapper
      .details__converter-field 1.0
      .details__converter-unit-wrapper
        .details__converter-unit THC
        img(src="img/arrows-reverse.svg").details__icon-reverse
        .details__converter-unit USD
      .details__converter-field 0.007819
